:host {
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  .menu {
    position: absolute;
    left: 7px;
    bottom: -43px;
  }

  .btn-primary {
    border-radius: 50px;
    height: 33px;
    width: 33px;
    display: flex;
    justify-content: center;

    img {
      width: 15px;
    }
  }
}
