<div class="menu-wrapper">
  <button class="btn btn-primary" (click)="toggleMenu()">
    <img src="../../assets/icons/more1.svg" alt="" width="30px">
  </button>
  <div class="menu" *ngIf="open">
    <ul>
      <li *ngFor="let mItem of menuItems">
        <button class="btn btn-light" (click)="executeFunc(mItem.func)">{{mItem.title}}</button>
      </li>
    </ul>
  </div>
</div>
