$topLeft: 28%;
$valueEmpty: lightgray;
$valueHovered: lightblue;
$valueUnder: rgb(13, 96, 179);
$valueOver: red;
$defaultTransition: all .3s ease-in-out;

@mixin inputDefaultStyle {
  width: 50px;
  border: 0.5px solid transparent;
  outline: none;
  font-weight: 600;
  padding: 2px;
}

.progress_pie {
  position: relative;
  height: 100%;

  .progress_svg {
    transform: rotate(-90deg);

    .progress_meter,
    .progress_value {
      fill: none;
    }

    .progress_meter {
      stroke: $valueEmpty;
    }
  }

  &.not-empty {
    &.over {
      .progress_meter {
        stroke: $valueOver;
        transition: $defaultTransition;
      }
      .progress_value {
        stroke: $valueUnder;
        transition: $defaultTransition;
      }
    }

    .under-100 {
      stroke: $valueUnder;
      transition: $defaultTransition;
    }
  }

  &:hover:not(.imp-focused) {
    .progress_meter,
    .progress_value {
      stroke: $valueHovered;
      transition: $defaultTransition;
    }
  }

  .progress_inner {
    position: absolute;
    top: $topLeft;
    left: $topLeft;

    .inner-content {
      font-size: 17px;
      flex-direction: column;

      .exceeded>* {
        color: $valueOver;
      }

      label {
        width: 100px;
        margin-bottom: 0;
      }

      input {
        @include inputDefaultStyle;

        &:focus:not(:read-only) {
          border: 0.5px solid $valueEmpty;
        }
      }

      .btn-ctrl {
        position: relative;
        top: -55px;
      }

      .estimated,
      .completed {
        input {
          color: #0A5196;
        }
      }
    }
  }
}



