<div class="progress_pie"
     [class.not-empty]="!!dashoffset"
     [class.over]="exeeds"
     [class.imp-focused]="inputFocused"
     (mouseenter)="pieHovered = true"
     (mouseleave)="pieHovered = false">
  <svg class="progress_svg"
       width="320"
       height="320"
       viewBox="0 0 120 120">
    <circle class="progress_meter"
            cx="60"
            cy="60"
            [attr.r]="radius"
            stroke-width="4"/>
    <circle class="progress_value"
            [class.under-100]="!!dashoffset && !exeeds"
            [style.strokeDasharray]="circumference"
            [style.strokeDashoffset]="dashoffset"
            cx="60"
            cy="60"
            [attr.r]="radius"
            stroke-width="4" />
	</svg>

  <div class="progress_inner">
    <div class="inner-content d-flex">
      <div class="d-flex justify-content-center btn-ctrl">
        <app-menu [class.show]="pieHovered" [menuItems]="menuItems"></app-menu>
      </div>
      <div class="d-flex just-center estimated">
        <label for="estimated">Estimated</label>
        <input name="estimated" [formControl]="estimatedFControl" [preValue]="estimatedFControl.value" appMask [maxLength]="5" (blur)="inputFocused = false" (focus)="inputFocused = true">
      </div>
      <div class="d-flex just-center completed">
        <label for="completed">Completed</label>
        <input name="completed" [formControl]="completedFControl" [preValue]="completedFControl.value" appMask [maxLength]="5" (blur)="inputFocused = false" (focus)="inputFocused = true">
      </div>
      <div class="d-flex just-center" *ngIf="!exeeds">
        <label for="remaining">Remaining</label>
        <input name="remaining" [formControl]="remainingFControl" appMask [maxLength]="5" readonly>
      </div>
      <div class="d-flex just-center exceeded" *ngIf="exeeds">
        <label for="exceeded">Exceeded</label>
        <input name="exceeded" [formControl]="exceededFControl" appMask [maxLength]="5" readonly>
      </div>
    </div>
  </div>
</div>
